body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  width: 100%;
  border: 1px solid #F5F5F5;
}

.gray {
  color: #918E9B;
}

.underlined {
  text-decoration-line:underline;
}

.bold {
  font-weight: bold;
}

.spaced {
  letter-spacing: 0.17em;
}